/* css for cibil report */
.wrapper {
  padding-top: 20px;
  padding-left: 20px;
  border-left: 0 solid #33658a;
  background-color: #f8f8f8;
  height: 91.7vh;
}
.bothDivAlign {
  display: flex;
}
.labelTextLeft {
  position: absolute;
  margin-top: 10px;
}
.inputcibil {
  width: 220px;
  height: 35px;
  margin: 8px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.button_cibil {
  width: 350px;
  height: 40px;
  background-color: #02c650;
  border-color: #02c650;
  border-right: #02c650;
  margin: auto;
  padding: 2%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 6px;
  color: #fff;
}
.heading_cibil {
  position: relative;
  text-align: center;
  justify-content: center;
  font-weight: 600;
  margin-top: auto;
  top:20px;
 
}
.heading_cibil_next {
    position: relative;
    justify-content: center;
    margin-top: auto;
    top:20px;
    font-size: 14px;
    text-align: center;
   
  }

.card{
    border-radius: 60%;
    z-index: 99999;
    box-shadow: #fff ;
    
}
#term{
    border-radius: 100%;
    margin: 10px;
    border: 1px solid #999;
    background: #ffff;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.3)
}

@media screen and (max-width: 999px) {
    .next,
    .prev {
        transform: scale(1);
        opacity: 1;
    }

    .item {
        display: block !important;
    }
}


@media only screen and (min-width: 600px) {
  /* For tablets: */

  .bothDivAlign {
    width: 16.66%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */

  .bothDivAlign {
    width: 16.66%;
    
  }
 
}

/* css end for cibil report  */
