.footer {
    flex-shrink: 0;
    background-color: #33658A;
}

footer {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;

}

.popularCity h4 {
    color: #333;
}

.popularCity {
    color: #33658A;
}

.popularCity a {
    color: #33658A;
    margin: 10px 20px;
    display: inline-block;
}

.popularCity a:hover {
  color: #02C650;
}

footer a {
    color: #FFFFFF;
    text-decoration: none;
}

footer .head6 {
    padding-top: 20px;
    font-weight: 600;
    font-size: 18px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    list-style: none;
    margin: 0;
    padding: 3px 0;
}

.social-img {
    margin: 0 2px 5px;
    display: inline-block;
    max-width: 40px;
    max-height: 40px;
}
.cibil-footer{
    background: #D9F4E7
}
.cibil-footer h4{
    color: #333333;
}

@media (max-width: 600px) {
.CookieConsent{flex-direction: revert!important;}

}
