input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.fixed-bottom {
    background-color: #F1F3F5;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

.darkBg {
    background: #F0F2F5;
    padding-bottom: 60px;
}

.darkBg .container {
    padding-top: 30px;

}

.height100 {
    display: flex;
    align-items: center;
    height: 65vh;
}

.select_css select {
    border: 0;
    z-index: 1111;
    position: absolute;
    font-size: 11px;
    margin-top: -4px;
    height: 321px !important;
    box-shadow: 0 4px 4px #ddd;
}

.select_css select option {
    padding: 5px 15px;
}

.select_css {
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
    width: 500px;
    height: 34px;
    border-radius: 3px;
    overflow: hidden;
}

.line-clamp {
min-height: 80px;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    border-radius: 8px;
    z-index: 1;
  }

.dropdown-content li{
    color: #333;
    float:none;
    text-align: left;
    white-space: nowrap;
    padding: 5px;
    border-top: 1px solid rgba(114, 141, 150, 0.2);
  }

.dropdown-content li:first-child{ 
    border-top: 0;
  }

.dropdown-content li:hover{
    color: #02C650;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
  }

.bg-in-mobile{
    padding-bottom: 80px;
}
.line-clamp img, .line-clamp h1,.line-clamp figure, .line-clamp ul, .line-clamp ol {
    display: none;
}
.line-clamp p{
    display: none;
}

.line-clamp p:first-of-type {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1 0 auto;
}

.info {
    background: rgba(255, 228, 158, 0.6);
    border-radius: 4px;
    font-size: 12px;
    line-height: 20px;
    padding: 10px;
    text-align: center;
    color: #000000;
}

.box {
    font-size: 14px;
}

a.button-gray {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    min-width: 80px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    border-radius: 3px;
    background: #33658a;
    box-shadow: 0 3px 14px #33658a;
    border: 1px solid #51748e;
}

a.button-gray:hover {
    background: #33658a;
    color: #f7f7f7;
    text-decoration: none;
}

button.button-gray {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    min-width: 80px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    border-radius: 3px;
    background: #33658a;
    box-shadow: 0 3px 14px #33658a;
    border: 1px solid #51748e;
}

button.button-gray:hover {
    color: #f7f7f7;
    text-decoration: none;
}

.circle-half {
    background: #FFFFFF;
    border-radius: 120px;
    display: flex;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
    vertical-align: middle;
    align-items: center;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 20px;
    color: #333;
}

.p-a-10 {
    padding: 15px 30px 0;
}

.full-circle {
    background: #FFFFFF;
    border: 5px solid #F0F2F5;
    box-sizing: border-box;
    border-radius: 150px;
    height: 172px;
    width: 172px;
    display: flex;
    align-items: center;
    vertical-align: middle;
    overflow: hidden;
}

.full-circle img {
    margin: 0 auto;
}

.full-text {
    width: calc(100% - 185px);
    padding-left: 10px;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #000;
}

.full-text h5 {
    font-weight: bold;
    font-size: 14px;
}

.back-arrow {
    background: #fff url("images/svg/arrow-left.svg") no-repeat 10px center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    font-weight: 600;
    padding: 8px 15px 7px 35px;
    font-size: 12px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 30px;
    display: inline-block;
    cursor: pointer;
}

.btn {
    color: #fff;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    margin-right: 20px;
    min-width: 80px;
    padding: 0 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    border-radius: 3px;
    background: #33658a;
    border: 1px solid #51748e;
}

.btn:hover {
    color: #f7f7f7;
    text-decoration: none;
}

.relative {
    position: relative;
}


.p-t-10 {
    padding-top: 10px;
}

.p-t-15 {
    padding-top: 15px;
}

.listing {
    padding: 0;
    margin: 0;
    text-align: left;
    list-style: disc;
}

.listing li {
    padding: 0 0 15px;
    margin: 0;
}

.p-t-40 {
    padding-top: 40px;
}

.p-t-80 {
    padding-top: 80px;
}

.p-t-50 {
    padding-top: 50px;
}

.p-l-30 {
    padding-left: 30px;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-40 {
    margin-top: 40px;
}

.p-t-20 {
    padding-top: 20px;
}

.p-t-30 {
    padding-top: 30px;
}

.p-b-30 {
    padding-bottom: 30px;
}

.carousel:after {
    content: '';
    height: 86px;
    width: 68px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 10px;
    z-index: -1;
    background: url('images/svg/green-right-line.svg') no-repeat 0 0;
}

.heading3 {
    font-size: 38px;
    line-height: 42px;
    padding-bottom: 10px;
    font-weight: 600;
}

.heading4 {
    font-size: 32px;
}
.heading6{
    font-size: 17.6px;
    font-weight: 330;
}

.scoreAnimate {
    width: 531px;
    border-radius: 50%;

}

.heading1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
    color: #000000;
}

.contactInfo {
    background: #2F9297;
    border-radius: 10px 0 0 10px;
    padding: 50px 20px 50px 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.contactInfo h5 {
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    font-weight: 600;
}

.btnLarge {
    color: #fff;
    display: inline-block;
    height: 50px;
    min-width: 80px;
    padding: 0 38px;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 50px;
    background: #02C650;
    border-radius: 60px;
    border: 0;
    cursor: pointer;
}

.heading2 {
    font-size: 36px;
    color: #111;
    line-height: 50px;
    padding-bottom: 20px;
    font-weight: 400;
}

.para-13 {
    font-size: 14px;
    color: #fff;
    padding-bottom: 30px;
}

.col-orange {
    color: #f8bb32;
}

.col-sky {
    color: #00a2d1;
}

.promise {
    padding: 0 0 30px;
    margin: auto;
    font-size: 16px;
    position: relative;
    background: #33658A;
}

.promise:after {
    content: '';
    height: 144px;
    width: 38px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 0;
    background: url('images/svg/left-shape.svg') no-repeat 0 0;
}

.box-offer {
    background: #fff;
    min-height: 350px;
    padding: 30px 20px;
    position: relative;
    box-shadow: 0 3px 24px rgba(192, 192, 192, 0.25);
    border-radius: 8px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 30px;
}

.box-offer h3 {
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000;
    padding-bottom: 10px;
    padding-top: 20px;
}

.box-offer .img-box {
    min-height: 90px;
}


.box-align {
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.21);
    min-height: 250px;
    padding: 30px 10px;
    font-size: 14px;
    line-height: 20px;
    position: relative;
}

.box-align:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: rgba(2, 198, 80, 0.3);
}

.box-align:hover::after {
    cursor: pointer;
    background: #02C650;
}


.team-section {
    padding: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.6);
    position: relative;
}

.team-section:after {
    content: '';
    height: 118px;
    width: 81px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -5px;
    top: 150px;
    z-index: -1;
    background: url('images/svg/green-line.svg') no-repeat 0 0;
}

.team-section:before {
    content: '';
    height: 87px;
    width: 20px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 55%;
    z-index: -1;
    background: url('images/svg/right-half.svg') no-repeat 0 0;
}

.clearboth {
    clear: both;
    position: relative;
}

.topFav:before {
    position: absolute;
    top:-30px;
    left: 0;
    right: 0;
    content: '';
    margin: auto;
    width: 3px;
    border-left: 4px solid #33658a;
    height: 1200px;
}


.clearboth:after {
    position: absolute;
    top:-40px;
    left: 0;
    right: 0;
    content: '';
    margin: auto;
    width: 60px;
    height: 60px;
    background: url("images/dot.png") no-repeat 0 0;
    z-index: 2;
    background-size: 100% 100%;

}
.clearboth:before {
    position: absolute;
    top: -12px;
    left: 200px;
    content: '';
    width: 270px;
    border-top: 4px solid #33658a;
    z-index: 1;
}

.right.clearboth:before {
    right: 200px;
    left: auto;
}

.f-right {
    float: right;
    position: relative;
}

.l-right {
    float: left;
    position: relative;
}

.team-pic {
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: -100px;
}
.circleImg{
    width: 70px!important;
    height: 70px!important;
    border-radius: 50%;
    border: 1px solid #33658a;
}
.topFav .team-pic{
    padding-bottom: 80px;
}
.team-pic img {
    max-width: 250px
}

.contactBox {
    position: relative;
    padding-bottom: 100px;
}

.contactBox:after {
    content: '';
    height: 144px;
    width: 38px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: -1;
    background: url('images/svg/left-shape.svg') no-repeat 0 0;
}

.contactBox:before {
    content: '';
    height: 86px;
    width: 68px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 40px;
    z-index: -1;
    background: url('images/svg/green-right-line.svg') no-repeat 0 0;
}

.contact {
    margin-top: 45px;
    width: 50%;
    margin-right: 20px;
    padding: 70px 50px 20px;
    background: rgba(2, 198, 80, 0.3);
    box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.09);
    border-radius: 10px 10px 0 0;
    font-size: 20px;
    font-weight: 600;
    color: #33658A;
    line-height: 30px;
    text-align: left;
    position: relative;


}

.mailPic {
    padding-right: 50px;
    width: 50%;
    margin-bottom: -35px;
}

.contact:before {
    content: '';
    height: 134px;
    width: 137px;
    margin: 0;
    position: absolute;
    right: -71px;
    bottom: 52px;
    z-index: 0;
    background: url('images/svg/email.svg') no-repeat 0 0;
}

.contactLine:before {
    content: '';
    height: 30px;
    width: 75%;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(181, 138, 0, 0.6);
}

.contact a {
    font-size: 20px;
    line-height: 39px;
    color: #33658A;
}

.contact a:hover {
    text-decoration: none;
    color: #333;
}

.contact .heading4 {
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #33658A;
}

.box-align h3 {
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

}

.promise-mission {
    padding: 0 0 30px;
    margin: auto;
    font-size: 16px;
    position: relative;
}

.promise-mission:before {
    content: '';
    position: absolute;
    bottom: 0;
    height: 60%;
    width: 100%;
    background: #FAFAFA;
}

.perks-we-offer {
    padding: 0 0 30px;
    margin: auto;
    font-size: 16px;
    position: relative;
    background: rgba(51, 101, 138, 0.2);
}

.search_icon {
    width: 100%;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 10px;
    height: 55px;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    padding: 20px 20px 20px 60px;
    letter-spacing: 0.02em;
    color: #000000;
    background: #fff url("images/svg/search.svg") no-repeat 20px center;
}

.search_icon:focus, .search_icon:active, .search_icon:hover {
    outline: none;
}

.discover {
    padding: 0 0 30px;
    margin: auto;
    font-size: 16px;
    position: relative;
    background: rgba(2, 198, 80, 0.1);
}

.img-box {
    min-height: 70px;
    vertical-align: middle;
    padding-bottom: 10px;
    display: inline-block;
}

.boxes {
    margin-top: -120px;
}

.loan-blue-benefit {
    padding: 0 0 30px;
    margin: auto;
    position: relative;
}

.loan-blue-benefit:before {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    background: #33658A;
    height: 530px;
    width: 100%;
    z-index: -2;
}

.loan-rent-benefit {
    padding: 0 0 30px;
    margin: auto;
    position: relative;
}

.loan-rent-benefit:before {
    content: '';
    left: 0;
    top: 0;
    position: absolute;
    background: #030B1A;
    height: 530px;
    width: 100%;
    z-index: -2;
}

.loan-rent-benefit:after {
    content: '';
    position: absolute;
    right: 20px;
    bottom: 24px;
    z-index: -3;
    width: 123px;
    height: 86px;
    background: url("images/svg/right-side-line.svg") no-repeat 0 0;
}

a.button-blue {
    display: inline-block;
    color: #fff;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    margin-right: 30px;
    min-width: 80px;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    border-radius: 6px;
    background: linear-gradient(315deg, #040b17, #040d1b);
    box-shadow: -6px -6px 5px #030913, 6px 6px 5px #050f1f;
}

a.button-blue:hover {
    color: #fff;
    background: linear-gradient(145deg, #040b17, #040d1b);
    box-shadow: 6px 6px 5px #030913, -6px -6px 5px #050f1f;
    text-decoration: none;
}

a.button-large {
    display: inline-block;
    font-size: 22px;
    height: 50px;
    line-height: 50px;
    margin-right: 30px;
    min-width: 80px;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    font-weight: 300;
    border-radius: 3px;
    color: #31344b;
    background-color: #e6e7ee;
    border-color: #e6e7ee;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}

a.button-large:hover {
    color: #31344b;
    box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
    text-decoration: none;
}

a.button-small {
    background-color: #33658a;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    min-width: 80px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0 2px 4px -1px;
}

a.button-small:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
    text-decoration: none;
    color: #fff;
}

.aboutUs {
    padding: 20px 0 30px;
    position: relative;
}

.aboutUs:before {
    content: '';
    height: 144px;
    width: 38px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: -1;
    background: url('images/svg/left-shape.svg') no-repeat 0 0;
}

.aboutUs:after {
    content: '';
    height: 86px;
    width: 68px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 240px;
    z-index: -1;
    background: url('images/svg/green-right-line.svg') no-repeat 0 0;
}

.mission:after {
    content: '';
    height: 86px;
    width: 79px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: -62px;
    z-index: -1;
    background: url('images/svg/right-up-arrow.svg') no-repeat 0 0;
}

.banner {
    padding: 20px 0 30px;
    position: relative;
}

.banner:before {
    content: '';
    height: 144px;
    width: 38px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    top: 20px;
    z-index: -1;
    background: url('images/svg/left-shape.svg') no-repeat 0 0;
}

.banner:after {
    content: '';
    height: 118px;
    width: 81px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -5px;
    bottom: 10px;
    z-index: -1;
    background: url('images/svg/green-line.svg') no-repeat 0 0;
}


.reg-second-heading h4 {
    font-size: 38px;
    font-weight: 600;
}

.font110 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 110px;
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: -45px;
    top: -48px;
}

.font110.transform {
    top: auto;
    left: auto;
    bottom: -20px;
    transform: rotate(-180deg);
}

.reg-second-heading {
    text-align: center;
    padding-top: 30px;
    line-height: 40px;
    margin-bottom: 20px;
}

.reg-second-subheading {
    font-size: 16px;
    color: #303030;
    font-weight: 500;
}


.reg-second-subheading {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


.loan-features .content-box h4 {
    font-size: 18px;
    margin-top: 5px;
    font-weight: 500;
}

.loan-features .content-box p {
    font-size: 16px;
    margin: 0;
    font-weight: 400;
}

.loan-features .content-box {
    position: relative;
    min-height: 110px;
    display: flex;
}

.loan-features .content-box div:first-child {
    text-align: center;
    width: 90px;
}

.loan-features .content-box div:last-child {
    width: calc(100% - 60px);
}

.loan-features .feature-box {
    background: #fff;
    padding: 25px 7px 20px 0;
    font-size: 14px;
    margin: 0;
    color: #000;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.25);
    border-radius: 21px;
}

.no-more-text {
    font-size: 16px;
    font-weight: 500;
}


.loan-features .feature-box img {
    max-width: 60px;
}

.loan-features {
    padding: 0 0 30px;
    margin: -230px auto 0;
    position: relative;
    z-index: -1;
}

.farmer {
    z-index: 2;
}

.loan-features:before {
    content: '';
    height: 311px;
    width: 100%;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
    background: #FAFAFA
}

.loan-features:after {
    content: '';
    height: 86px;
    width: 123px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 140px;
    bottom: -40px;
    z-index: -1;
    background: url('images/svg/bottom-line.svg') no-repeat 0 bottom;
}

.services {
    margin-bottom: 10px;
    position: relative;
    background: #FAFAFA;
    font-size: 16px;
}


.services:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 53px;
    height: 178px;
    background: url("images/svg/half-circle-right.svg") no-repeat 0 0;
}

.mission {
    margin-bottom: 10px;
    position: relative;
    font-size: 16px;
    
}

.main-img img {
    max-width: 100%;
}

.how-it-works {
    background: #F9F9F9;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 24px;
    color: #000;
    position: relative;
}

.how-it-works:after {
    content: '';
    position: absolute;
    right: 20px;
    bottom: -40px;
    z-index: -1;
    width: 123px;
    height: 86px;
    background: url("images/svg/right-side-line.svg") no-repeat 0 0;
}

.steps {
    display: flex;
    padding: 100px 0;
    width: 100%;
    position: relative;
}


.home-steps {
    display: flex;
    width: 100%;
}

.home-steps:nth-child(1):after {
    content: '';
    border-top: 1px dashed #33658A;
    background-image: linear-gradient(to right, black 33%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 3px 1px;
    background-repeat: repeat-x;
    position: absolute;
    right: 100%;
    top: 30px;
    z-index: 0;
    margin-right: -50px;
    width: 100%;
    height: 1px;
}

.home-steps:nth-child(1):before {
    content: '';
    border: 1px dashed #33658A;
    border-top: none;
    position: absolute;
    left: 0;
    top: 30px;
    z-index: 0;
    width: 100%;
    height: 205px;
    margin-left: 50px;
}

.home-steps:nth-child(2) {
    margin-top: 200px;
}

.home-steps:nth-child(4) {
    margin-top: 200px;
}

.home-steps:nth-child(3):before {
    content: '';
    border: 1px dashed #33658A;
    border-bottom: none;
    position: absolute;
    right: 100%;
    margin-right: -49px;
    top: -90px;
    z-index: 0;
    width: 100%;
    height: 117px;
}

.home-steps:nth-child(3):after {
    content: '';
    border: 1px dashed #33658A;
    border-top: none;
    border-right: none;
    position: absolute;
    left: 48px;
    top: 30px;
    z-index: 0;
    width: 100%;
    height: 205px;
}

.home-steps:nth-child(4):after {
    content: '';
    position: absolute;
    left: 9px;
    top: 26px;
    z-index: 0;
    width: 9px;
    height: 17px;
    background: url("images/svg/arrow-right.svg") no-repeat 0 0;
}

.home-steps div:first-child {
    text-align: center;
    width: 100px;
}

.home-steps div:last-child {
    width: calc(100% - 100px);
}

.how-it-works .steps-heading {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.product-link {
    padding: 10px 50px;
    min-height: 70px;
    border-radius: 1px;
    display: block;
    text-align: center;
    margin: 0;
    color: #333;
    font-size: 11px;
    position: relative;
}

.nbfc_img img {
    max-height: 100px;
}

.product-link h5.heading5 {
    font-weight: 500;
    font-size: 22px;
    color: #333;
    padding-bottom: 10px;
}

.product-link p {
    font-size: 16px;
    color: #333;
}

.partners {
    position: relative;
}

.partners:after {
    content: '';
    height: 118px;
    width: 81px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -5px;
    top: 100px;
    z-index: -1;
    background: url('images/svg/green-line.svg') no-repeat 0 0;
}

.partners:before {
    content: '';
    height: 86px;
    width: 68px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 30%;
    z-index: -1;
    background: url('images/svg/green-right-line.svg') no-repeat 0 0;
}

.partners .heading4 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #33658A;
}

.input-field {
    border: 1px solid #C4C4C4;
    border-radius: 8px;
}

.faqSection {
    position: relative;
}

.faqSection:after {
    content: '';
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 0;
    width: 53px;
    height: 178px;
    background: url("images/svg/half-circle-right.svg") no-repeat 0 0;
}

.faqSection:before {
    content: '';
    height: 86px;
    width: 79px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 20%;
    z-index: -1;
    background: url('images/svg/right-up-arrow.svg') no-repeat 0 0;
}

.payRentSection {
    position: relative;
}

.payRentSection .card-header {

    font-size: 16px;
    line-height: 22px;
}

.payRentSection .accordion .card-body {

    font-size: 14px;
    line-height: 22px;
}

.heading7 {
    font-size: 28px
}


.payRentSection:after {
    content: '';
    position: absolute;
    right: 0;
    top: 20%;
    z-index: 0;
    width: 53px;
    height: 178px;
    background: url("images/svg/half-circle-right.svg") no-repeat 0 0;
}

.payRentSection:before {
    content: '';
    height: 86px;
    width: 79px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    bottom: 20%;
    z-index: -1;
    background: url('images/svg/right-up-arrow.svg') no-repeat 0 0;
}

.boxlink {
    display: none;
}

#boxlink0 {
    display: block;
}

.boxlink h3.heading3 {
    font-size: 18px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: 400;
}


.boxlink p {
    font-size: 16px;
    max-width: 300px;
    margin-bottom: 20px;
    color: #1f1d1d;

}


.productlist {
    margin: auto;
    padding-bottom: 30px;
    display: table;
    table-layout: fixed;
    width: 50%;
}

.productlist li {
    list-style: none;
    display: table-cell;
    width: 100%;
}

.productlist li a {
    text-align: center;
    color: #303030;
    text-decoration: none;
    font-weight: 400;
    display: block;
}

.productlist li:hover {
    box-shadow: rgba(17, 17, 26, 0.1) 0 1px 0;
    color: #f8bb32;
    text-decoration: none;
}

.black-bg {
    background: #040d1b;
}

.white-color {
    color: #fff;
}
.blogPic{
    background: #33658a;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

.blue-color {
    color: #33658a;
}

.max-width70 {
    max-width: 100px;
}

.productlist img {
    max-height: 50px;
    display: inline-block;
    margin: auto;
}

.profile-pic {
    width: 97px !important;
    height: 97px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.blog-head span {
    color: rgba(0, 0, 0, 0.6);
    font-size: 17px;


}

.blog-head h6 {
    font-weight: 500;
    font-size: 22px;
    color: #000;
}

.owl-carousel h6 {
    padding-top: 5px;
    color: #35668b;
    font-size: 18px;
    margin-bottom: 0;
}

.owl-carousel span {
    padding-top: 10px;
    color: #1f1d1d;
}

.owl-carousel .content {
    color: #1f1d1d;
    font-size: 16px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    background: 0 0;
    color: #1e88e5 !important;
    border: none;
    padding: 5px 20px !important;
    font: inherit;
    font-size: 50px !important;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    color: #0d47a1 !important;
    background-color: transparent !important;
}

.owl-dots {
    display: none;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

.item {
    display: none;
}

.next {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6;
}

.prev {
    display: block !important;
    position: relative;
    transform: scale(0.8);
    transition-duration: 0.3s;
    opacity: 0.6;
}

.item.show {
    display: block;
    transition-duration: 0.4s;
}

@media screen and (max-width: 999px) {
    .next,
    .prev {
        transform: scale(1);
        opacity: 1;
    }

    .item {
        display: block !important;
    }
}

.ui-state-default label {
    display: block;
    color: #44476a;
    padding: 0;
    text-align: center;
    line-height: 25px;
    white-space: nowrap;
}

.ui-widget-content {
    border: 1px solid #fff;
    background: #33658a;
    height: 15px;
    color: #222;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 5.2em;
    height: 2.2em;
    cursor: pointer;
    margin: 0 -42px auto !important;
    text-align: center;
    line-height: 30px;
    color: #fff;
    font-size: 15px;
    display: block;
}

.carousel-indicators {
    bottom: -9px !important;
}

.carousel-indicators li {
    background-color: #ddd !important;
}

.carousel-indicators li.active {
    background-color: #33658a !important;
}

.relative {
    position: relative;
}

.ui-slider .ui-slider-handle .glyphicon {
    color: #fff;
    margin: 0 3px;
    font-size: 11px;
    opacity: 0.5;
}

.ui-corner-all {
    border-radius: 20px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -9px;
}

.ui-state-default,
.ui-widget-content .ui-state-default {
    border: 5px solid #33658a;
    background: #fff;
    box-shadow: 2px 2px 4px #b8b9be, -2px -2px 4px #fff;
}

.ui-slider-horizontal .ui-slider-handle {
    margin-left: -0.5em;
}

.ui-slider .ui-slider-handle {
    cursor: pointer;
}

.ui-slider a,
.ui-slider a:focus {
    cursor: pointer;
    outline: 0;
}

.lead p,
.price {
    display: inline-block;
    line-height: 30px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
    color: #333333;
}

h4.great {
    background: #00ac98;
    margin: 0 0 25px -60px;
    padding: 7px 15px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    display: inline-block;
    -moz-box-shadow: 2px 4px 5px 0 #ccc;
    -webkit-box-shadow: 2px 4px 5px 0 #ccc;
    box-shadow: 2px 4px 5px 0 #ccc;
}

.total {
    border-bottom: 1px solid #7f8c8d;
    position: relative;
    padding-bottom: 20px;
}

.total:before {
    content: "";
    display: inline;
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 100%;
    height: 3px;
    background: #7f8c8d;
    opacity: 0.5;
}

.price-slider {
    margin-bottom: 20px;
}

.down-payment {
    background: #FFFFFF;
    border: 1px solid rgba(51, 51, 51, 0.26);
    border-radius: 10px;
    font-family: Montserrat;
    width: 100%;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
    color: #333333;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.rupeesIcon {
    position: absolute;
    left: 15px;
    top: 17px;
    font-size: 22px;
    font-weight: 600;
}

.totalAmount {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 150.5%;
    color: rgba(51, 101, 138, 0.7);
    padding: 25px 0;
    text-align: center;
}

.price-slider h4 {
    font-size: 18px;
    font-weight: 500;
    color: #333333;
}

.MuiSlider-rail {
    border: 1px solid #fff;
    background: #EEEEEE;
    height: 9px !important;
    border-radius: 40px !important;
    color: #EEEEEE;
    opacity: 1 !important;
}

.MuiSlider-markActive {
    display: none;
}

.MuiSlider-valueLabel > span {
    display: none;
}

.MuiSlider-valueLabel > span > span {
    display: none;
    font-family: 'Montserrat', sans-serif;
    color: #0a0a0a !important;
    transform: rotate(0deg) !important;
    font-weight: 500;
}

.MuiSlider-thumb {
    top: 14px;
    border: 2px solid #fff;
    height: 17px !important;
    width: 17px !important;
    background: #33658A;
    box-sizing: border-box;
    box-shadow: inset 0 4px 4px #7DB8E4;
}

.MuiSlider-root {
    color: #33658a !important
}

.MuiSlider-track {
    height: 9px !important;
    border-radius: 9px !important;
    background: #6AAADA !important;
    box-shadow: inset 0 4px 4px #33658A !important;
}

.form-pricing {
    padding: 20px;
}

.price-form {
    clear: both;
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 70px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.2);
}

.form-group1 {
    display: table-cell;
    margin-bottom: 0 !important;
    width: 33%;
    float: left;
    height: 70px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.form-group1:first-child {
    border: none;
}

.form-group1 span.price {
    font-weight: 400;
    display: inline-block;
    color: #7f8c8d;
    font-size: 14px;
}

.help-text {
    display: block;
    margin-top: 32px;
    margin-bottom: 10px;
    color: #737373;
    position: absolute;
    font-weight: 400;
    text-align: right;
    width: 188px;
}

.price-box {
    padding: 20px 30px;
    background: #fff;
    border: 1px solid rgba(51, 101, 138, 0.16);
    box-sizing: border-box;
    box-shadow: 0 1px 11px rgba(215, 220, 224, 0.6);
    border-radius: 12px;
    position: relative;
}

.price-box:before {
    content: '';
    height: 58px;
    width: 58px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -40px;
    top: 17px;
    z-index: -1;
    background: url('images/svg/right-shape.svg') no-repeat 0 0;
}

.circle-small {
    height: 58px;
    width: 58px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -24px;
    top: -20px;
    z-index: -1;
    background: url('images/svg/right-shape.svg') no-repeat 0 0;
}

.circle-small-shape {
    height: 45px;
    width: 45px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -27px;
    top: 10px;
    background: url('images/svg/small-circle.svg') no-repeat 0 0;
}

.price-form label {
    padding-top: 10px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150.5%;
    color: rgba(51, 51, 51, 0.62);
    white-space: nowrap;
}

.box-shadow {
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 0;
    margin-top: 5%;
    width: 470px;
    text-align: center;
    display: inline-block;
    border: 10px solid #fff;
    box-shadow: 0 8px 20px 2px rgba(224, 224, 224, 0.7);
}

.box-shadow img {
    width: 400px;
    max-height: 100px;
}

.nbfc {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    font-weight: 400;
}

.text {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

img.payment {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ui-slider-range-min {
    background: #2980b9;
}

hr.style {
    margin-top: 0;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.product-link {
    cursor: pointer;
}


.sticky-bot {
    bottom: 0;
    left: 5%;
    line-height: normal;
    overflow: visible;
    position: fixed;
    z-index: 10000;
    border: none;
    cursor: pointer;
    bottom: 0;
    height: auto;
}

.black-bg-btn {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    left: 5%;
    display: block;
    min-height: 24pt;
    padding: 0.25em 0.75em;
    text-align: center;
    word-wrap: break-word;
    background-color: #1d2019;
    color: #ffffff;
    font-size: 10pt;
    line-height: 24pt;
    opacity: 1;
    filter: alpha(opacity=100);
    font-family: 'Montserrat', sans-serif;
}

.full-height {
    display: table;
    width: 100%;
    height: 450px;
    table-layout: fixed;
}

.full-height .child {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
}

.modal-content {
    background-color: #bed6ef;
}

#referal-img {
    background-size: 100% 101%;
    background-repeat: no-repeat;
}

.btn-position {
    position: absolute;
    top: 5px;
    right: 10px;
}

.referal-text {
    padding: 20px;
}

.referal-text h4 {
    font-size: 22px;
}

.referal-text h5 {
    font-size: 14px;
}

.referal-text p {
    font-size: 11px;
}


.card {
    border-radius: 5px !important;
    margin-bottom: 10px;
}

.testimonial {
    background: #fff;

}

.testimonial .card {
    background: #fff;
    box-shadow: 0 3px 15px #D8DADF;
    border-radius: 20px !important;
    border: 0;
    padding: 0;
    min-height: 515px;
}

.mediaCover {
    background: #fff;
    position: relative;

}

.mediaCover .card {
    border-radius: 0 !important;
    border: 0;
    padding: 30px;
    background: #fff;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    position: relative;
}

.mediaCover .card:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: rgba(2, 198, 80, 0.3);
}

.mediaCover .card:hover::after {
    background: #02C650;
    cursor: pointer;
}

.headStripe {
    background: rgba(2, 198, 80, 0.1);
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.headStripe:hover {
    background: #02C650
}

.headStripe img {
    max-height: 30px;
}

.mediaCover .card p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.mediaCover:before {
    content: '';
    height: 86px;
    width: 68px;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    top: 30px;
    background: url('images/svg/green-right-line.svg') no-repeat 0 0;
}

.mediaCover:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 50%;
    z-index: 0;
    width: 53px;
    height: 178px;
    background: url("images/svg/half-circle-right.svg") no-repeat 0 0;
}


.mediaCover .card p a {
    color: rgba(0, 0, 0, 0.6);
}

.mediaCover .card p a:hover {
    color: rgba(0, 0, 0, 0.7);
}

.mediaCover .card h5 {
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 20px;
}

.date {
    padding-top: 20px;
    font-size: 12px !important;
    text-align: right;
    display: none !important;
}

.blog {
    font-size: 16px;
    line-height: 172.4%;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
}

.advertisePay {
    background: #F8F8F8;
    border: 1px solid rgba(46, 53, 58, 0.09);
    box-sizing: border-box;
    box-shadow: 0px 2px 7px rgba(175, 175, 175, 0.45);
    border-radius: 6px;

    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;

}

.advertisePay div:nth-child(1) {
    width: 80px;
    text-align: center;
}

.advertisePay div:nth-child(3) {
    padding-right: 20px;
}

.advertisePay div:nth-child(2) {
    width: calc(100% - 90px);
    padding: 0 15px;
}

.advertisePay h4 {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
}

.fromFrame {
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid rgba(51, 101, 138, 0.16);
    box-sizing: border-box;
    box-shadow: 0px 1px 11px rgba(215, 220, 224, 0.6);
    border-radius: 12px;
}

.advertise {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #063D5C;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.advertise h4 {
    font-weight: bold;
    font-size: 32px;
}

.advertise div {
    padding: 0 30px;
}

.small-green-link {

    color: #3CA9A2;

    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 28px;
    white-space: nowrap;
}


.small-green-btn {
    background: #1DBF73;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    height: 28px;
    min-width: 80px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 28px;
    white-space: nowrap;
}

.green-btn {
    background: #02C650;
    border-radius: 25px;
    color: #fff;
    display: inline-block;
    height: 49px;
    min-width: 80px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 48px;
    white-space: nowrap;
}

.blog:after {
    content: '';
    height: 118px;
    width: 81px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: -5px;
    top: 150px;
    z-index: -1;
    background: url('images/svg/green-line.svg') no-repeat 0 0;
}


.blog h5 {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000;
    padding: 20px 0;
    margin: 0;
    min-height: 130px;
}

.blog .blogPic {
    border-radius: 9px;
    overflow: hidden;
    max-height: 100px;
    min-height: 100px;
}

.green-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #02C650;
}

.testimonial .card .blog-head {
    background: #F7FCF5;
    padding: 20px;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
}

.icon-left {
    float: left;
    width: 30px;
}

.icon-left-content {
    width: calc(100% - 50px);
    float: left;
}

.over-box {
    position: relative;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    margin-top: -50px;
    padding: 0 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.card h2 {
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

.card .title,
.card h2 {
    font-style: normal;
    font-stretch: normal;
    color: #fff;
}

.card .title {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
}

.box {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 11px 38px 2px #ddd;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
}

.box h3 {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 1.2px;
}

.svg-text {
    max-width: 200px;
}

.box p {
    margin-bottom: 10px !important;
}

a {
    color: #33658a;
}

.contact-payme {
    margin-top: 7px;
}

.card-header::after {
    content: "";
    border: solid rgba(0, 0, 0, 0.7);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    float: right;
    margin-top: 5px;
}

.accordion .card {
    border: 0;
    background: #fff;
    box-shadow: 0 0 14px rgba(137, 137, 137, 0.25);
    border-radius: 6px !important;
    margin-bottom: 30px;
}

.accordion .card-body {
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.4);
    margin-top: -15px;
    padding-bottom: 25px;
}

.card-header {
    padding: 20px 1rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: none !important;
    font-weight: 500;
    border-radius: 6px !important;
    font-size: 20px;
}

.paragraphText p {
    margin-bottom: 10px !important;
}

.maxLimitWidth {
    max-width: 400px;
}

.initiative p {
    font-size: 16px;
    line-height: 28px;
}
.hideDesktop{
    display: none;
}
@media (max-width: 600px) {
    .hideDesktop{
        display: block;
    }
    .mailPic, .contact {
        width: 100%;
    }

    .contactLine {
        display: block !important;
    }

    .mailPic {
        padding-right: 42px;
    }

    .contact:before {
        margin: auto;
        bottom: 0;
        right: 0;
        left: 0;
        top: -210px;
    }

    .contactLine:before {
        width: 92%;
        margin: 0 auto;
        right: 0;
        left: 0;
    }

    .initiative p {
        font-size: 14px;
        line-height: 26px;
    }

    .maxLimitWidth {
        max-width: 300px;
    }

    .heading1 {
        font-size: 24px;
    }

    .btnLarge{
        display: block;
        height: 40px;
        font-size: 18px;
        line-height: 40px;
    }
    .MuiSlider-thumb {
        top: 21px;
    }

    .heading2 {
        font-size: 22px;
        line-height: 24px;
    }

    .heading3 {
        font-size: 27px;
        line-height: 32px;
    }

    .reg-second-heading h4 {
        font-size: 26px;
        line-height: 32px;
    }

    .box h3 {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
    }

    .reg-second-heading {
        line-height: 24px;
    }

    .textAlign {
        text-align: center;
        margin: auto;
    }

    .imgLarge {
        max-width: 60%;
    }

    .home_logo {
        max-width: 140px;
    }

    .darkBg .container {
        padding-top: 0;
    }

    .height100 {
        padding-top: 30px;
        height: auto;
    }

    a.button {
        font-size: 11px;
        height: 32px;
        line-height: 32px;
        min-width: 70px;
        padding: 0 10px;
        margin-right: 10px;
        margin-top: 7px;
    }


    .form-pricing {
        padding: 0;
    }

    .banner .p-t-40 {
        padding-top: 20px;
    }

    .banner .m-t-40 {
        margin-top: 20px;
    }


    .farmer {
        max-width: 200px;
        margin: 20px auto;
    }

    a.button-large {
        font-size: 14px;
        line-height: 30px;
        height: 30px;
        margin: 20px auto;
    }

    .price-slider .relative {
        margin-left: 20px;
        margin-right: 40px;
    }

    .p-l-30 {
        padding-left: 0;
        text-align: center;
    }

    .p-l-30 h3 {
        padding-bottom: 0;
    }

    .para-13 {
        padding-bottom: 10px;
    }

    .head6 {
        padding-top: 20px;
    }

    .loan-features .p-t-30 {
        padding-top: 15px;
    }

    .owl-carousel .owl-nav button.owl-next,
    .owl-carousel .owl-nav button.owl-prev {
        font-size: 30px !important;
        line-height: 30px;
    }

    .owl-nav {
        margin-top: -10px;
    }

    #menuToggle span {
        width: 24px;
    }

    .steps {
        display: block;
        padding: 50px 0;
    }

    .advertise {
        display: block;
    }

    .advertise div {
        padding: 30px;
    }

    .bg-in-mobile {
        background: #33658A;
        padding: 0 50px;
    }

    .bg-in-mobile-black {
        background: #030B1A;
        padding-bottom: 30px;
    }

    .loan-features {
        margin-top: -65px;
    }

    .home-steps:nth-child(1):after {
        display: none;
    }

    .home-steps:nth-child(1):before {
        display: none;
    }

    .home-steps:nth-child(2) {
        margin-top: 0;
    }

    .home-steps:nth-child(4) {
        margin-top: 0;
    }

    .home-steps:nth-child(3):before {
        display: none;
    }

    .home-steps:nth-child(3):after {
        display: none;
    }

    .home-steps:nth-child(4):after {
        display: none;
    }

    .home-steps div:first-child {
        text-align: center;
        width: 100px;
    }

    .home-steps div:last-child {
        width: calc(100% - 100px);
    }
    .home-steps{
     padding: 0 20px 20px 0;
    }
    .steps{
        padding: 0;
    }

    .topFav:before {
        display: none;
    }

    .team-pic{
        margin: 0;
    }
    .clearboth:after {
        display: none;

    }
    .clearboth:before {
        display: none;
    }

    .right.clearboth:before {
        display: none;
    }

    .f-right {
        float:none;
    }

    .l-right {
        float:none;
    }
    .topFav .team-pic{
        padding-bottom: 40px;
    }
    .hideMobile{
        display: none!important;
    }

}
