body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif;
}

a.active_class {
  color: rgb(48, 119, 26);
  border-bottom: 1px solid red;
}
/* .list-group{
  height: 140px;

} */