a:hover {
  text-decoration: none !important;
}
a:focus {
  outline: none !important;
}
button:focus {
  outline: none !important;
}
.header-shadow {
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1) !important;
}
.topNav {
  padding-left: 5em !important;
  background-color: #fdfdfd !important;
}

.header-tabs {
  flex: 1;
  justify-content: flex-end;
}
.header-links {
  color: #444 !important;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.2px;
}
.header-item {
  margin: 0px 8px;
}
.download-btn {
  color: #4673de !important;
  border: 2px solid #4673de;
  margin-left: 15px;
  font-weight: 700;
  padding: 10px 25px !important;
}
.top-slider-section {
  padding: 5em 0px;
}
.slider-left-block {
  flex: 1;
  justify-content: center;
  padding: 7em 0em 7em 4em;
}
.slider-right-block {
  flex: 1;
  text-align: center;
}
.big-text-heading {
  color: #040b4d;
  font-size: 4em;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}
.home-contact-form {
  background: #fff;
  box-shadow: 2px 2px 4px rgba(51, 101, 138, 0.14);
  border-radius: 20px;
  padding: 50px;
  position: relative;
}
.form-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #000;
  padding-bottom: 20px;
}
.form-select-one {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  padding-bottom: 10px;
}

.kyc-wrapper {
  background: #FFE9D4;
  border: 1px solid rgba(51, 101, 138, 0.15);
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(51, 101, 138, 0.16);
  border-radius: 12px;
  padding: 20px;
  position: relative;
  text-align: left;
  margin-top: 35px;
  cursor: pointer;
}

.kyc-wrapper:first-child {
  margin-top: 0;
}

.kyc-wrapper h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #000;
}

.kyc-wrapper span {
  font-weight: 500;
  font-size: 60px;
  color: #33658A;
  position: absolute;
  right: 20px;
  cursor: pointer;
  top: 40px;
  line-height: 20px;
  height: 20px;
  width: 35px;
  display: block;
  background: url("images/svg/arrow-r.svg") no-repeat 0 center;
}

.step-step {
  position: relative;
  display: flex;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #898989;
  padding-bottom: 100px;
}

.step {
  position: relative;
  margin-top: 60px;
  z-index: 0;
}

.step:after {
  content: '';
  position: absolute;
  border-left: 1px dashed #33658A;
  width: 10px;
  left: 25px;
  z-index: -1;
  top: 6px;
  height: 444px;
}

.step .step-step:nth-child(3) {
  padding-bottom: 0;
}

.step-step .img-wrapper {
  width: 100px;
  padding-right: 10px;

}

.step-step .img-text {
  padding-right: 20px;
}


.step-step h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #000;
}

.step-step .green-button {
  padding: 7px 20px;
  font-size: 16px;
  line-height: 20px;
  color: #fff!important;
  background: #1DBF73;
  border-radius: 4px;
  cursor: pointer;
}
.border-btm{
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.14);
  margin-bottom: 20px;
}
.disbaledButton{
  opacity: 0.3;
}
.step-step .disbled-button {
  padding: 7px 20px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.2);
}

.kyc-wrapper p {
  font-size: 16px;
  line-height: 28px;
  margin: 0;
  color: rgba(0, 0, 0, 0.7);
}

.form-block {
  margin-top: 2em;
}
.ms-form-input {
  height: 60px !important;
  border: none !important;
  border-radius: unset !important;
  border-bottom: 1px solid rgba(51, 51, 51, 0.4) !important;
}
.form-label {
  margin-bottom: 0.3em;
  font-size: 16px;
  color: #333;
  font-weight: 500;
}
.ms-input-group {
  text-align: left;
  margin: 20px 0;
}
.ms-form-input:focus ms-form-input::placeholder {
  color: #e7e7e7 !important;
}
.ms-form-input::placeholder {
  color: #e7e7e7 !important;
}
.ms-form-input:focus {
  background-color: white !important;
  color: #e7e7e7 !important;
}
.submit-btn {
  margin-top: 30px;
  color: #fff;
  display: inline-block;
  height: 39px;
  min-width: 80px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 38px;
  background: #02C650;
  border-radius: 20px;
}

.benifits-sections {
  margin: 3em 2em;
}
.Advisory-About-sections {
  margin: 3em 2em;
}
.semi-content-peragraph {
  font-size: 1em;
  color: #363c71;
  margin-top: 30px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}
.section-heading {
  text-align: center;
  font-size: 3.2em;
  font-weight: 700;
  letter-spacing: 2px;
  color: #040b4d;
}

.benifit-single-block {
  padding: 30px;
}
.benifit-img-block {
  text-align: center;
}
.benifit-contents-block {
  margin-left: 40px;
}
.Advisory-About-content-block {
  padding: 2em 5em;
}
.Careeradvisory-Image-container {
  padding: 5em 1em;
  padding-bottom: 0 !important;
}
.block-content-heading {
  font-size: 2.6em;
  font-weight: 700;
  letter-spacing: 2px;
  color: #040b4d;
  font-family: "Montserrat", sans-serif;
}
.content-heading {
  font-size: 1.3em;
  font-weight: 700;
  color: #040b4d;
}
.content-pera {
  font-size: 1em;
  color: #363c71;
  margin-top: 15px;
  font-weight: 600;
}
.content-small-text {
  font-size: 0.9em;
  color: #363c71;
  margin-top: 25px;
  font-weight: 600;
}
.benifit-section-row {
  display: flex;
  align-items: flex-end;
  margin: 25px 0;
}
.benifit-img-block img {
  width: 185px;
}
.other-benifits-section {
  background-color: #f8f8f8;
  padding: 4em 3em;
}
.other-benifit-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3em;
  padding: 0em 5em;
}
.Theme-btn {
  background: #33658a;
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  margin: 0px 2.7em;
  color: white !important;
}
.CibilScore-btn {
  padding: 20px 9em;
  margin-top: 4em;
  display: inline-block;
}
.other-benifit-icon {
  color: #219653;
  margin-right: 10px;
}
.other-benifit-pera {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #040b4d;
  padding: 0 2em;
}
.How-it-works-section {
  background-color: #4673de;
  padding: 6em 3em 4em 3em;
}
.working-steps-block {
  margin-top: 4em;
}
.step-img {
  width: 120px;
}
.single-step-block {
  text-align: center;
}
.step-circle {
  background: #ecedf2;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  border: 2px solid #c1c1c1;
  margin: 20px auto;
}
.step-number {
  margin: 0;
  color: #4673de;
  font-size: 20px;
  font-weight: 700;
}
.steps-pera {
  color: white;
}

.FAQ-section {
  padding: 5em;
}
.faq-questions-block {
  padding: 2em;
  background: white;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  margin: 3em 0;
}
.faq-questions-collapase {
  display: flex;
}

.faq-question-heading {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.faq-question-icon {
  font-size: 22px;
  color: #040b4d !important;
}

.answer-pera {
  margin: 0;
  margin-top: 20px;
  font-size: 15px;
  color: #363c71;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.faq-questions-collapase:hover {
  cursor: pointer;
}

.faq-questions-collapase.collapsed .fa-chevron-down {
  display: none;
}
.faq-questions-collapase.collapsed .fa-chevron-up {
  display: inline-block;
}
.faq-questions-collapase .fa-chevron-down {
  display: inline-block;
}
.faq-questions-collapase .fa-chevron-up {
  display: none;
}
.Main-Footer {
  background-color: #4673de;
  padding: 5em;
}
.list-link {
  font-size: 15px;
  color: white !important;
  letter-spacing: 0.6px;
}
.list-item {
  margin: 15px 0;
}
.list-item-icon {
  margin-right: 25px;
}
.list-link-icon {
  font-size: 1.5em;
  color: white !important;
}
.list-btn {
  text-align: center;
  background: white;
  padding: 10px;
}
.theme-text {
  color: #040b4d !important;
}

/*  Enter Otp Screen */

.Enter-otp-form {
  padding-top: 3em !important;
  width: 600px;
  margin: auto;
  max-width: 100%;
}
.otp-input-container {
  justify-content: space-between;
}

.otp-input {
  width: 65px !important;
  margin-right: auto;
  height: 65px !important;
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  background: rgba(172, 187, 199, 0.07);
  border: 1px solid rgba(51, 101, 138, 0.3);
  border-radius: 8px;
}

.otp-input:focus {
  outline: none;
}

.montserrat-600 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.resent-btn {
  text-align: center;
  background: #fff;
  margin: 0 3em;
  font-size: 16px;
  line-height: 20px;
  color: #6F6F6F;
  cursor: pointer;
}
.green-text{
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #1DBF73;
  padding: 20px;
}
/* KyC Form */

.form-container {
  padding: 2em 0px;
  width: 600px;
  margin: 1em auto;
  max-width: 100%;
}
.file-uploading-block {
  border: 2px dashed #94979d;
  padding: 48px;
  text-align: center;
  margin: 25px 0;
}
.upload-btn-text {
  font-size: 14px;
  font-weight: 700;
  color: #33658a;
}
.btn-primary {
  background-color: #33658a !important;
  border-color: #33658a !important;
}
.small-text-ms {
  font-size: 13px;
  color: #94979d;
  font-weight: 600;
  margin-bottom: 3em;
}
.ms-group-btn {
  padding: 12px 20px;
  border-radius: unset;
  font-size: 14px;
  font-weight: 700;
  background: #e0e0e0;
  border: none;
  color: #9395ac;
}
.ms-Tabs {
  margin-bottom: 3em;
  text-align: center;
}
.active-btn {
  background-color: #4673de;
  color: white !important;
}
.custom-slider {
  -webkit-appearance: none;

  width: 100%;
  outline: none;
  height: 10px;

  background: #dce4f9;
  border-radius: 10px;
}

/* The custom-slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.custom-slider::-webkit-custom-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 40px; /* Set a specific custom-slider handle width */
  height: 40px; /* custom-Slider handle height */
  background: blue; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.custom-slider::-moz-range-thumb {
  width: 40px; /* Set a specific slider handle width */
  height: 40px; /* Slider handle height */
  background: blue; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* Details Summary */

.details-block {
  margin: 20px 0;
}
.details-block h4 {
  font-size: 14px;
  color: #040b4b;
  font-weight: 500;
}
.details-block p {
  font-weight: 600;
  margin: 0;
  font-size: 16px;
  color: #969bba;
}
.border-btn {
  padding: 12px;
  bottom: -100px;
  border: 1px solid #4673de;
}
.trasaction-name {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  color: #040b4d;
}
.transaction-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: white !important;
  padding: 15px;
}
.trasaction-subh {
  margin-top: 6px !important;
  font-size: 13px;
  margin: 0;
  color: #9396a7;
  font-weight: 500;
}
.txnfailure {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  color: #f66464;
}
.txnSuccess {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  color: #59c95f;
}
.txnNormal {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  color: #9396a7;
}
.page-header-section {
  background-color: #e9f3fe;
  background-image: url("./image/Aboutusimg.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.theme-slider-Title {
  font-size: 2.7em;
  font-weight: 700;
  color: #040b4d;
}
.theme-slider-SubTitle {
  font-size: 17px;
  font-weight: 500;
  color: #040b4d;
}
.Page-heder-content-block {
  padding: 6em 6em;
}

input:invalid {
    border: 1px solid red;
}
.submitBtn{
  background: #33658a;
  border: 0;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  color: #fff!important;
}

#register,#volunteer{
  margin: 0 5px 0 15px;
}
/* Extra small devices (phones, 600px and down) */
@media (max-width: 767px) {
    .tableDesign{
        display: block;
    }

    .tableDesign > div{
        padding-left: 0;
        width: 100%;
        margin-bottom: 10px;
    }

}
@media (max-width: 450px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
